$breakpoint-tablet: 768px;

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.btn-default {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    background-color: transparent;
    padding: 10px 15px;
    letter-spacing: 2px;
    border-radius: 30px;
    border: #333 3px solid;
}

.card {
    width: 380px;
    margin: 20px;
    border: #d4d4d4 1px solid;
    padding: 15px;
    border-radius: 5px;

    .card-image {
        padding: 10px;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }

    .card-desc {
        padding: 20px 10px;
        text-align: center;
        line-height: 24px;
    }

    .card-action {
        text-align: center;
    }
}

header {
    @media (max-width: $breakpoint-tablet) {
        background-image: url('http://via.placeholder.com/600x600');
        height: 650px;
        width: 100%;
    }

    background-color: #3e3e3e;
    background-image: url('http://via.placeholder.com/1920x650');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fefefe;
    height: 650px;
    width: 1960px;

    .greet {
        left: 50%;
        position: absolute;
        margin-left: -40%;
        margin-top: -6%;
        text-align: center;
        top: 35vh;
        width: 80vw;

        @media (max-width: $breakpoint-tablet) {
            margin-left: -38%;
            margin-top: -25%;
            top: 35vh;
        }

        .description {
            display: block;
            font-size: 2.5vw;

            @media (max-width: $breakpoint-tablet) {
                font-size: 48px;
            }
        }

        .hello {

            font-size: 5vw;
            font-weight: bold;


            @media (max-width: $breakpoint-tablet) {
                font-size: 80px;
            }
        }
    }




}

// @include breakpoint(453px $breakpoint-tablet) {
//     header {
//         der {
//             background-color: #3e3e3e;
//             background-image: url('http://via.placeholder.com/600x600');
//             background-repeat: no-repeat;
//             background-size: cover;
//             color: #fefefe;
//             height: 650px;
//             width: 1960px;
//     }                  
// }

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
}